In [17]:
import pandas as pd
from IPython.display import Image
from IPython.core.display import HTML

In [1]:
texts = ['   Bonjour, comment ca va ?     ',
         '    Heyyyyy, how are you doing ?   ',
         '        Hallo, wie gehts ?     ']
texts

['   Bonjour, comment ca va ?     ',
 '    Heyyyyy, how are you doing ?   ',
 '        Hallo, wie gehts ?     ']

In [2]:
[text.strip() for text in texts]

['Bonjour, comment ca va ?',
 'Heyyyyy, how are you doing ?',
 'Hallo, wie gehts ?']

In [2]:
text = "abcd Who is abcd ? That's not a real name!!! abcd"
text

"abcd Who is abcd ? That's not a real name!!! abcd"

In [15]:
text.strip('bdac')

" Who is abcd ? That's not a real name!!! "

In [9]:
text = "I love koalas, koalas are the cuttest animals on Earth."
text

'I love koalas, koalas are the cuttest animals on Earth.'

In [10]:
text.replace("koala","panda")

'I love pandas, pandas are the cuttest animals on Earth.'

In [11]:
text = "alicia keys / bts /justin bieber"

In [12]:
text.split("/")

['alicia keys ', ' bts ', 'justin bieber']

In [13]:
text = "i LOVE football sO mUch. FOOTBALL is my passion. Who else loves fOOtBaLL ?"
text

'i LOVE football sO mUch. FOOTBALL is my passion. Who else loves fOOtBaLL ?'

In [14]:
text.lower()

'i love football so much. football is my passion. who else loves football ?'

In [15]:
text = "i do not recommend this restaurant, we waited for so long, like 30 minutes, this is ridiculous"
text

'i do not recommend this restaurant, we waited for so long, like 30 minutes, this is ridiculous'

In [16]:
cleaned_text = ''.join(char for char in text if not char.isdigit())
cleaned_text

'i do not recommend this restaurant, we waited for so long, like  minutes, this is ridiculous'

In [17]:
text = "I love bubble tea! OMG so #tasty @channel XOXO @$ ^_^ "
text

'I love bubble tea! OMG so #tasty @channel XOXO @$ ^_^ '

In [46]:
import string # "string" module is already installed with Python
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [19]:
for punctuation in string.punctuation:
    text = text.replace(punctuation, '') 
    
text

'I love bubble tea OMG so tasty channel XOXO   '

In [20]:
sentences = ["   I LOVE Pizza 999 @^_^", 
             "  Le Wagon is amazing, take care - 666"]

In [21]:
def basic_cleaning(sentence):
    sentence = sentence.lower()
    sentence = ''.join(char for char in sentence if not char.isdigit())
    
    for punctuation in string.punctuation:
        sentence = sentence.replace(punctuation, '') 
    
    sentence = sentence.strip()
    
    return sentence

In [22]:
cleaned_sentences = [basic_cleaning(sentence) for sentence in sentences]
cleaned_sentences

['i love pizza', 'le wagon is amazing take care']

In [23]:
import re

text = """<head><body>Hello Le Wagon!</body></head>"""
cleaned_text = re.sub('<[^<]+?>','', text)

print (cleaned_text)

Hello Le Wagon!

In [24]:
import re

txt = 'This is a random text, authored by darkvador@gmail.com and batman@outlook.com, WOW!'

re.findall('[\w.+-]+@[\w-]+\.[\w.-]+', txt)

['darkvador@gmail.com', 'batman@outlook.com']

In [25]:
text = "It is during our darkest moments that we must focus to see the light"
text

'It is during our darkest moments that we must focus to see the light'

In [50]:
from nltk.tokenize import word_tokenize

word_tokens = word_tokenize(text)
word_tokens

['abcd',
 'Who',
 'is',
 'abcd',
 '?',
 'That',
 "'s",
 'not',
 'a',
 'real',
 'name',
 '!',
 '!',
 '!',
 'abcd']

In [11]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /Users/jinru/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [12]:
from nltk.corpus import stopwords 

stop_words = set(stopwords.words('english')) # you can also choose other languages
len(stop_words)

179

In [38]:
stop_words

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}

In [39]:
stop_words = set(stopwords.words('chinese')) # you can also choose other languages
len(stop_words)

841

In [40]:
stop_words

{'一',
 '一下',
 '一些',
 '一切',
 '一则',
 '一天',
 '一定',
 '一方面',
 '一旦',
 '一时',
 '一来',
 '一样',
 '一次',
 '一片',
 '一直',
 '一致',
 '一般',
 '一起',
 '一边',
 '一面',
 '万一',
 '上下',
 '上升',
 '上去',
 '上来',
 '上述',
 '上面',
 '下列',
 '下去',
 '下来',
 '下面',
 '不一',
 '不久',
 '不仅',
 '不会',
 '不但',
 '不光',
 '不单',
 '不变',
 '不只',
 '不可',
 '不同',
 '不够',
 '不如',
 '不得',
 '不怕',
 '不惟',
 '不成',
 '不拘',
 '不敢',
 '不断',
 '不是',
 '不比',
 '不然',
 '不特',
 '不独',
 '不管',
 '不能',
 '不要',
 '不论',
 '不足',
 '不过',
 '不问',
 '与',
 '与其',
 '与否',
 '与此同时',
 '专门',
 '且',
 '两者',
 '严格',
 '严重',
 '个',
 '个人',
 '个别',
 '中小',
 '中间',
 '丰富',
 '临',
 '为',
 '为主',
 '为了',
 '为什么',
 '为什麽',
 '为何',
 '为着',
 '主张',
 '主要',
 '举行',
 '乃',
 '乃至',
 '么',
 '之',
 '之一',
 '之前',
 '之后',
 '之後',
 '之所以',
 '之类',
 '乌乎',
 '乎',
 '乘',
 '也',
 '也好',
 '也是',
 '也罢',
 '了',
 '了解',
 '争取',
 '于',
 '于是',
 '于是乎',
 '云云',
 '互相',
 '产生',
 '人们',
 '人家',
 '什么',
 '什么样',
 '什麽',
 '今后',
 '今天',
 '今年',
 '今後',
 '仍然',
 '从',
 '从事',
 '从而',
 '他',
 '他人',
 '他们',
 '他的',
 '代替',
 '以',
 '以上',
 '以下',
 '以为',
 '以便',
 '以免',
 '以前',
 '以及',
 '以后',
 '以外',
 '以後',
 '以来',
 '以至',
 '以至于',
 '以致',
 '们',
 '任',
 '任何',
 '任凭',
 '任务',
 '企图',
 '伟大',
 '似乎',
 '似的',
 '但',
 '但是',
 '何',
 '何况',
 '何处',
 '何时',
 '作为',
 '你',
 '你们',
 '你的',
 '使得',
 '使用',
 '例如',
 '依',
 '依照',
 '依靠',
 '促进',
 '保持',
 '俺',
 '俺们',
 '倘',
 '倘使',
 '倘或',
 '倘然',
 '倘若',
 '假使',
 '假如',
 '假若',
 '做到',
 '像',
 '允许',
 '充分',
 '先后',
 '先後',
 '先生',
 '全部',
 '全面',
 '兮',
 '共同',
 '关于',
 '其',
 '其一',
 '其中',
 '其二',
 '其他',
 '其余',
 '其它',
 '其实',
 '其次',
 '具体',
 '具体地说',
 '具体说来',
 '具有',
 '再者',
 '再说',
 '冒',
 '冲',
 '决定',
 '况且',
 '准备',
 '几',
 '几乎',
 '几时',
 '凭',
 '凭借',
 '出去',
 '出来',
 '出现',
 '分别',
 '则',
 '别',
 '别的',
 '别说',
 '到',
 '前后',
 '前者',
 '前进',
 '前面',
 '加之',
 '加以',
 '加入',
 '加强',
 '十分',
 '即',
 '即令',
 '即使',
 '即便',
 '即或',
 '即若',
 '却不',
 '原来',
 '又',
 '及',
 '及其',
 '及时',
 '及至',
 '双方',
 '反之',
 '反应',
 '反映',
 '反过来',
 '反过来说',
 '取得',
 '受到',
 '变成',
 '另',
 '另一方面',
 '另外',
 '只是',
 '只有',
 '只要',
 '只限',
 '叫',
 '叫做',
 '召开',
 '叮咚',
 '可',
 '可以',
 '可是',
 '可能',
 '可见',
 '各',
 '各个',
 '各人',
 '各位',
 '各地',
 '各种',
 '各级',
 '各自',
 '合理',
 '同',
 '同一',
 '同时',
 '同样',
 '后来',
 '后面',
 '向',
 '向着',
 '吓',
 '吗',
 '否则',
 '吧',
 '吧哒',
 '吱',
 '呀',
 '呃',
 '呕',
 '呗',
 '呜',
 '呜呼',
 '呢',
 '周围',
 '呵',
 '呸',
 '呼哧',
 '咋',
 '和',
 '咚',
 '咦',
 '咱',
 '咱们',
 '咳',
 '哇',
 '哈',
 '哈哈',
 '哉',
 '哎',
 '哎呀',
 '哎哟',
 '哗',
 '哟',
 '哦',
 '哩',
 '哪',
 '哪个',
 '哪些',
 '哪儿',
 '哪天',
 '哪年',
 '哪怕',
 '哪样',
 '哪边',
 '哪里',
 '哼',
 '哼唷',
 '唉',
 '啊',
 '啐',
 '啥',
 '啦',
 '啪达',
 '喂',
 '喏',
 '喔唷',
 '嗡嗡',
 '嗬',
 '嗯',
 '嗳',
 '嘎',
 '嘎登',
 '嘘',
 '嘛',
 '嘻',
 '嘿',
 '因',
 '因为',
 '因此',
 '因而',
 '固然',
 '在',
 '在下',
 '地',
 '坚决',
 '坚持',
 '基本',
 '处理',
 '复杂',
 '多',
 '多少',
 '多数',
 '多次',
 '大力',
 '大多数',
 '大大',
 '大家',
 '大批',
 '大约',
 '大量',
 '失去',
 '她',
 '她们',
 '她的',
 '好的',
 '好象',
 '如',
 '如上所述',
 '如下',
 '如何',
 '如其',
 '如果',
 '如此',
 '如若',
 '存在',
 '宁',
 '宁可',
 '宁愿',
 '宁肯',
 '它',
 '它们',
 '它们的',
 '它的',
 '安全',
 '完全',
 '完成',
 '实现',
 '实际',
 '宣布',
 '容易',
 '密切',
 '对',
 '对于',
 '对应',
 '将',
 '少数',
 '尔后',
 '尚且',
 '尤其',
 '就',
 '就是',
 '就是说',
 '尽',
 '尽管',
 '属于',
 '岂但',
 '左右',
 '巨大',
 '巩固',
 '己',
 '已经',
 '帮助',
 '常常',
 '并',
 '并不',
 '并不是',
 '并且',
 '并没有',
 '广大',
 '广泛',
 '应当',
 '应用',
 '应该',
 '开外',
 '开始',
 '开展',
 '引起',
 '强烈',
 '强调',
 '归',
 '当',
 '当前',
 '当时',
 '当然',
 '当着',
 '形成',
 '彻底',
 '彼',
 '彼此',
 '往',
 '往往',
 '待',
 '後来',
 '後面',
 '得',
 '得出',
 '得到',
 '心里',
 '必然',
 '必要',
 '必须',
 '怎',
 '怎么',
 '怎么办',
 '怎么样',
 '怎样',
 '怎麽',
 '总之',
 '总是',
 '总的来看',
 '总的来说',
 '总的说来',
 '总结',
 '总而言之',
 '恰恰相反',
 '您',
 '意思',
 '愿意',
 '慢说',
 '成为',
 '我',
 '我们',
 '我的',
 '或',
 '或是',
 '或者',
 '战斗',
 '所',
 '所以',
 '所有',
 '所谓',
 '打',
 '扩大',
 '把',
 '抑或',
 '拿',
 '按',
 '按照',
 '换句话说',
 '换言之',
 '据',
 '掌握',
 '接着',
 '接著',
 '故',
 '故此',
 '整个',
 '方便',
 '方面',
 '旁人',
 '无宁',
 '无法',
 '无论',
 '既',
 '既是',
 '既然',
 '时候',
 '明显',
 '明确',
 '是',
 '是不是',
 '是否',
 '是的',
 '显然',
 '显著',
 '普通',
 '普遍',
 '更加',
 '曾经',
 '替',
 '最后',
 '最大',
 '最好',
 '最後',
 '最近',
 '最高',
 '有',
 '有些',
 '有关',
 '有利',
 '有力',
 '有所',
 '有效',
 '有时',
 '有点',
 '有的',
 '有着',
 '有著',
 '望',
 '朝',
 '朝着',
 '本',
 '本着',
 '来',
 '来着',
 '极了',
 '构成',
 '果然',
 '果真',
 '某',
 '某个',
 '某些',
 '根据',
 '根本',
 '欢迎',
 '正在',
 '正如',
 '正常',
 '此',
 '此外',
 '此时',
 '此间',
 '毋宁',
 '每',
 '每个',
 '每天',
 '每年',
 '每当',
 '比',
 '比如',
 '比方',
 '比较',
 '毫不',
 '没有',
 '沿',
 '沿着',
 '注意',
 '深入',
 '清楚',
 '满足',
 '漫说',
 '焉',
 '然则',
 '然后',
 '然後',
 '然而',
 '照',
 '照着',
 '特别是',
 '特殊',
 '特点',
 '现代',
 '现在',
 '甚么',
 '甚而',
 '甚至',
 '用',
 '由',
 '由于',
 '由此可见',
 '的',
 '的话',
 '目前',
 '直到',
 '直接',
 '相似',
 '相信',
 '相反',
 '相同',
 '相对',
 '相对而言',
 '相应',
 '相当',
 '相等',
 '省得',
 '看出',
 '看到',
 '看来',
 '看看',
 '看见',
 '真是',
 '真正',
 '着',
 '着呢',
 '矣',
 '知道',
 '确定',
 '离',
 '积极',
 '移动',
 '突出',
 '突然',
 '立即',
 '第',
 '等',
 '等等',
 '管',
 '紧接着',
 '纵',
 '纵令',
 '纵使',
 '纵然',
 '练习',
 '组成',
 '经',
 '经常',
 '经过',
 '结合',
 '结果',
 '给',
 '绝对',
 '继续',
 '继而',
 '维持',
 '综上所述',
 '罢了',
 '考虑',
 '者',
 '而',
 '而且',
 '而况',
 '而外',
 '而已',
 '而是',
 '而言',
 '联系',
 '能',
 '能否',
 '能够',
 '腾',
 '自',
 '自个儿',
 '自从',
 '自各儿',
 '自家',
 '自己',
 '自身',
 '至',
 '至于',
 '良好',
 '若',
 '若是',
 '若非',
 '范围',
 '莫若',
 '获得',
 '虽',
 '虽则',
 '虽然',
 '虽说',
 '行为',
 '行动',
 '表明',
 '表示',
 '被',
 '要',
 '要不',
 '要不是',
 '要不然',
 '要么',
 '要是',
 '要求',
 '规定',
 '觉得',
 '认为',
 '认真',
 '认识',
 '让',
 '许多',
 '论',
 '设使',
 '设若',
 '该',
 '说明',
 '诸位',
 '谁',
 '谁知',
 '赶',
 '起',
 '起来',
 '起见',
 '趁',
 '趁着',
 '越是',
 '跟',
 '转动',
 '转变',
 '转贴',
 '较',
 '较之',
 '边',
 '达到',
 '迅速',
 '过',
 '过去',
 '过来',
 '运用',
 '还是',
 '还有',
 '这',
 '这个',
 '这么',
 '这么些',
 '这么样',
 '这么点儿',
 '这些',
 '这会儿',
 '这儿',
 '这就是说',
 '这时',
 '这样',
 '这点',
 '这种',
 '这边',
 '这里',
 '这麽',
 '进入',
 '进步',
 '进而',
 '进行',
 '连',
 '连同',
 '适应',
 '适当',
 '适用',
 '逐步',
 '逐渐',
 '通常',
 '通过',
 '造成',
 '遇到',
 '遭到',
 '避免',
 '那',
 '那个',
 '那么',
 '那么些',
 '那么样',
 '那些',
 '那会儿',
 '那儿',
 '那时',
 '那样',
 '那边',
 '那里',
 '那麽',
 '部分',
 '鄙人',
 '采取',
 '里面',
 '重大',
 '重新',
 '重要',
 '鉴于',
 '问题',
 '防止',
 '阿',
 '附近',
 '限制',
 '除',
 '除了',
 '除此之外',
 '除非',
 '随',
 '随着',
 '随著',
 '集中',
 '需要',
 '非但',
 '非常',
 '非徒',
 '靠',
 '顺',
 '顺着',
 '首先',
 '高兴'}

In [13]:
tokens = ["i", "am", "not", "going", "to", "go", "to", "the", "club", 
          "and","party", "all", "night", "long"]

In [14]:
stopwords_removed = [w for w in tokens if w in stop_words] 
stopwords_removed

['i', 'am', 'not', 'to', 'to', 'the', 'and', 'all']

In [51]:
tokens_cleaned = [w for w in tokens if not w in stop_words] 
tokens_cleaned

['going', 'go', 'club', 'party', 'night', 'long']

In [53]:
sentence = 'He was RUNNING and EATING at the same time =[. He has a bad habit of swimming after playing 3 hours in the Sun =/'

In [54]:
cleaned_sentence = basic_cleaning(sentence)
cleaned_sentence

'he was running and eating at the same time  he has a bad habit of swimming after playing  hours in the sun'

In [56]:
tokenized_sentence = word_tokenize(cleaned_sentence)
tokenized_sentence

NameError: name 'cleaned_sentence' is not defined

In [57]:
tokenized_sentence_no_stopword = [w for w in tokenized_sentence if not w in stop_words] 
tokenized_sentence_no_stopword

NameError: name 'tokenized_sentence' is not defined

In [58]:
from nltk.stem import WordNetLemmatizer
# Lemmatizing the verbs
verb_lemmatized = [WordNetLemmatizer().lemmatize(word, pos = "v")  # v --> verbs
              for word in tokenized_sentence_no_stopword]

# 2 - Lemmatizing the nouns
noun_lemmatized = [WordNetLemmatizer().lemmatize(word, pos = "n")  # n --> nouns
              for word in verb_lemmatized]

NameError: name 'tokenized_sentence_no_stopword' is not defined

In [64]:
verb_lemmatized

['run', 'eat', 'time', 'bad', 'habit', 'swim', 'play', 'hours', 'sun']

In [65]:
noun_lemmatized

['run', 'eat', 'time', 'bad', 'habit', 'swim', 'play', 'hour', 'sun']

In [66]:
tokenized_sentence_no_stopword

['running',
 'eating',
 'time',
 'bad',
 'habit',
 'swimming',
 'playing',
 'hours',
 'sun']

In [82]:
df = pd.DataFrame([tokenized_sentence_no_stopword, verb_lemmatized, noun_lemmatized]).T
df = df.rename(columns = {0:'original', 1:'verb_lemmatized', 2: 'noun_lemmatized'})
df

   original verb_lemmatized noun_lemmatized
0   running             run             run
1    eating             eat             eat
2      time            time            time
3       bad             bad             bad
4     habit           habit           habit
5  swimming            swim            swim
6   playing            play            play
7     hours           hours            hour
8       sun             sun             sun

In [83]:
from sklearn.feature_extraction.text import CountVectorizer

In [89]:
texts = ['the young dog is running with the cat',
         'running is good for your health',
         'your cat is young',
         'young young young young young cat cat cat']

In [111]:
count_vectorizer = CountVectorizer()
X = count_vectorizer.fit_transform(texts)
X.toarray()

array([[1, 1, 0, 0, 0, 1, 1, 2, 1, 1, 0],
       [0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1],
       [1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1],
       [3, 0, 0, 0, 0, 0, 0, 0, 0, 5, 0]])

In [92]:
count_vectorizer.get_feature_names_out()

array(['cat', 'dog', 'for', 'good', 'health', 'is', 'running', 'the',
       'with', 'young', 'your'], dtype=object)

In [93]:
vectorized_texts = pd.DataFrame(X.toarray(), 
                                columns = count_vectorizer.get_feature_names_out(),
                                index = texts)

vectorized_texts

,cat,dog,for,good,health,is,running,the,with,young,your
the young dog is running with the cat,1,1,0,0,0,1,1,2,1,1,0
running is good for your health,0,0,1,1,1,1,1,0,0,0,1
your cat is young,1,0,0,0,0,1,0,0,0,1,1
young young young young young cat cat cat,3,0,0,0,0,0,0,0,0,5,0

In [94]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [95]:
# Instantiating the TfidfVectorizer
tf_idf_vectorizer = TfidfVectorizer()

# Training it on the texts
weighted_words = pd.DataFrame(tf_idf_vectorizer.fit_transform(texts).toarray(),
                 columns = tf_idf_vectorizer.get_feature_names_out())

weighted_words

,cat,dog,for,good,health,is,running,the,with,young,your
0,0.227904,0.357056,0.000000,0.000000,0.000000,0.227904,0.281507,0.714112,0.357056,0.227904,0.000000
1,0.000000,0.000000,0.463709,0.463709,0.463709,0.295980,0.365594,0.000000,0.000000,0.000000,0.365594
2,0.470063,0.000000,0.000000,0.000000,0.000000,0.470063,0.000000,0.000000,0.000000,0.470063,0.580622
3,0.514496,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.857493,0.000000

In [118]:
document_frequency = pd.DataFrame([dfs], columns = count_vectorizer.get_feature_names_out())
document_frequency

   cat  dog  for  good  health  is  running  the  with  young  your
0    3    1    1     1       1   3        2    1     1      3     2

In [119]:
# Instantiate the CountVectorizer with max_df = 2
count_vectorizer = CountVectorizer(max_df = 2) # removing "cat", "is", "young"

# Train it
X = count_vectorizer.fit_transform(texts)
X = pd.DataFrame(
    X.toarray(),
    columns = count_vectorizer.get_feature_names_out(),
    index = texts
)

X

,dog,for,good,health,running,the,with,your
the young dog is running with the cat,1,0,0,0,1,2,1,0
running is good for your health,0,1,1,1,1,0,0,1
your cat is young,0,0,0,0,0,0,0,1
young young young young young cat cat cat,0,0,0,0,0,0,0,0

In [120]:
# CountVectorizer with the 3 most frequent words
count_vectorizer = CountVectorizer(max_features = 3)

X = count_vectorizer.fit_transform(texts)
X = pd.DataFrame(
    X.toarray(),
     columns = count_vectorizer.get_feature_names_out(),
     index = texts
)

X

                                           cat  is  young
the young dog is running with the cat        1   1      1
running is good for your health              0   1      0
your cat is young                            1   1      1
young young young young young cat cat cat    3   0      5

In [121]:
actors_movie = ["I like the movie but NOT the actors",
                "I like the actors but NOT the movie"]

In [122]:
# Vectorize the sentences
count_vectorizer = CountVectorizer()
actors_movie_vectorized = count_vectorizer.fit_transform(actors_movie)

# Show the representations in a nice DataFrame
actors_movie_vectorized = pd.DataFrame(actors_movie_vectorized.toarray(),
                                       columns = count_vectorizer.get_feature_names_out(),
                                       index = actors_movie)

# Show the vectorized movies
actors_movie_vectorized

                                     actors  but  like  movie  not  the
I like the movie but NOT the actors       1    1     1      1    1    2
I like the actors but NOT the movie       1    1     1      1    1    2

In [131]:
# Vectorize the sentences
count_vectorizer_n_gram = CountVectorizer(ngram_range = (2,2))
# count_vectorizer_n_gram = CountVectorizer(ngram_range = (2,2), token_pattern=u"(?u)\\b\\w+\\b") # BI-GRAMS
actors_movie_vectorized_n_gram = count_vectorizer_n_gram.fit_transform(actors_movie)

# Show the representations in a nice DataFrame
actors_movie_vectorized_n_gram = pd.DataFrame(actors_movie_vectorized_n_gram.toarray(),
                                              columns = count_vectorizer_n_gram.get_feature_names_out(),
                                              index = actors_movie)

# Show the vectorized movies with bigrams
actors_movie_vectorized_n_gram

,actors but,but not,like the,movie but,not the,the actors,the movie
I like the movie but NOT the actors,0,1,1,1,1,1,1
I like the actors but NOT the movie,1,1,1,0,1,1,1

In [129]:
actors_movie

['I like the movie but NOT the actors', 'I like the actors but NOT the movie']

In [134]:
Image(url= "images/bayes.png")

In [135]:
Image(url= "images/bayes2.png")

In [21]:
data = pd.read_csv("emails.csv")
data.head()

                                                text  spam
0  Subject: naturally irresistible your corporate...     1
1  Subject: the stock trading gunslinger  fanny i...     1
2  Subject: unbelievable new homes made easy  im ...     1
3  Subject: 4 color printing special  request add...     1
4  Subject: do not have money , get software cds ...     1

In [19]:
df.shape

(5728, 2)

In [149]:
df=df.iloc[:,0:2]

In [24]:
round(data["spam"].value_counts(normalize = True),2)

0    0.76
1    0.24
Name: spam, dtype: float64

In [23]:
data["spam"]

0       1
1       1
2       1
3       1
4       1
       ..
5723    0
5724    0
5725    0
5726    0
5727    0
Name: spam, Length: 5728, dtype: int64

In [25]:
import numpy as np

from sklearn.model_selection import cross_validate
from sklearn.pipeline import make_pipeline
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import recall_score

# Feature/Target
X = data["text"]
y = data["spam"]

# Pipeline vectorizer + Naive Bayes
pipeline_naive_bayes = make_pipeline(TfidfVectorizer(), 
                                     MultinomialNB())

# Cross-validation
cv_results = cross_validate(pipeline_naive_bayes, X, y, cv = 5, scoring = ["recall"])
average_recall = cv_results["test_recall"].mean()
np.round(average_recall,2)

0.45

In [27]:
pipeline_naive_bayes.fit(X, y)

Pipeline(steps=[('tfidfvectorizer', TfidfVectorizer()),
                ('multinomialnb', MultinomialNB())])

In [28]:
pipeline_naive_bayes.predict(X[:5])

array([1, 1, 0, 0, 0])

In [29]:
from sklearn.model_selection import GridSearchCV

# Define the grid of parameters
parameters = {
    'tfidfvectorizer__ngram_range': ((1,1), (2,2)),
    'multinomialnb__alpha': (0.1,1),}

# Perform Grid Search
grid_search = GridSearchCV(pipeline_naive_bayes, parameters, scoring = "recall",
                           cv = 5, n_jobs=-1, verbose=1)

grid_search.fit(data.text,data.spam)

# Best score
print(f"Best Score = {grid_search.best_score_}")

# Best params
print(f"Best params = {grid_search.best_params_}")

Fitting 5 folds for each of 4 candidates, totalling 20 fits
Best Score = 0.9524932488436137
Best params = {'multinomialnb__alpha': 0.1, 'tfidfvectorizer__ngram_range': (1, 1)}

In [34]:
tuned = grid_search.best_estimator_

In [48]:
def cleaning(sentence):
    
    # Basic cleaning
    sentence = sentence.strip() ## remove whitespaces
    sentence = sentence.lower() ## lowercase 
    sentence = ''.join(char for char in sentence if not char.isdigit()) ## remove numbers
    
    # Advanced cleaning
    for punctuation in string.punctuation:
        sentence = sentence.replace(punctuation, '') ## remove punctuation
    
    tokenized_sentence = word_tokenize(sentence) ## tokenize 
    stop_words = set(stopwords.words('english')) ## define stopwords
    
    tokenized_sentence_cleaned = [ ## remove stopwords
        w for w in tokenized_sentence if not w in stop_words
    ]

    lemmatized = [
        WordNetLemmatizer().lemmatize(word, pos = "v") 
        for word in tokenized_sentence_cleaned
    ]
    
    cleaned_sentence = ' '.join(word for word in lemmatized)
    
    return cleaned_sentence

In [43]:
documents = pd.DataFrame(['like mangos oranges', 'frog turtle live ponds', 'kitten puppies fluffy', 'spinach kiwi smoothie', 'kitten love strawberries'], columns = ['documents'])

In [44]:
documents

                  documents
0       like mangos oranges
1    frog turtle live ponds
2     kitten puppies fluffy
3     spinach kiwi smoothie
4  kitten love strawberries

In [59]:
cleaned_documents = documents["documents"].apply(cleaning)
cleaned_documents.head()

0         like mangos oranges
1      frog turtle live ponds
2       kitten puppies fluffy
3       spinach kiwi smoothie
4    kitten love strawberries
Name: documents, dtype: object

In [60]:
vectorizer = TfidfVectorizer()
vectorized_documents = vectorizer.fit_transform(cleaned_documents)
vectorized_documents = pd.DataFrame(vectorized_documents.toarray(), 
                                    columns = vectorizer.get_feature_names_out())

vectorized_documents

,fluffy,frog,kitten,kiwi,like,live,love,mangos,oranges,ponds,puppies,smoothie,spinach,strawberries,turtle
0,0.000000,0.0,0.000000,0.00000,0.57735,0.0,0.000000,0.57735,0.57735,0.0,0.000000,0.00000,0.00000,0.000000,0.0
1,0.000000,0.5,0.000000,0.00000,0.00000,0.5,0.000000,0.00000,0.00000,0.5,0.000000,0.00000,0.00000,0.000000,0.5
2,0.614189,0.0,0.495524,0.00000,0.00000,0.0,0.000000,0.00000,0.00000,0.0,0.614189,0.00000,0.00000,0.000000,0.0
3,0.000000,0.0,0.000000,0.57735,0.00000,0.0,0.000000,0.00000,0.00000,0.0,0.000000,0.57735,0.57735,0.000000,0.0
4,0.000000,0.0,0.495524,0.00000,0.00000,0.0,0.614189,0.00000,0.00000,0.0,0.000000,0.00000,0.00000,0.614189,0.0

In [61]:
from sklearn.decomposition import LatentDirichletAllocation

# Instantiate the LDA 
n_components = 2
lda_model = LatentDirichletAllocation(n_components=n_components, max_iter = 100)

# Fit the LDA on the vectorized documents
lda_model.fit(vectorized_documents)

LatentDirichletAllocation(max_iter=100, n_components=2)

In [68]:
document_topic_mixture = lda_model.transform(vectorized_documents)
pd.DataFrame(document_topic_mixture)

          0         1
0  0.211863  0.788137
1  0.197517  0.802483
2  0.206331  0.793669
3  0.808432  0.191568
4  0.206333  0.793667

In [63]:
topic_word_mixture = pd.DataFrame(lda_model.components_, 
                                 columns = vectorizer.get_feature_names_out())

In [64]:
topic_word_mixture

,fluffy,frog,kitten,kiwi,like,live,love,mangos,oranges,ponds,puppies,smoothie,spinach,strawberries,turtle
0,0.524448,0.52308,0.525891,1.069574,0.526204,0.52308,0.524457,0.526204,0.526204,0.52308,0.524448,1.069574,1.069574,0.524457,0.52308
1,1.089741,0.97692,1.465156,0.507776,1.051147,0.97692,1.089732,1.051147,1.051147,0.97692,1.089741,0.507776,0.507776,1.089732,0.97692

In [65]:
def print_topics(lda_model, vectorizer, top_words):
    # 1. TOPIC MIXTURE OF WORDS FOR EACH TOPIC
    topic_mixture = pd.DataFrame(lda_model.components_,
                                 columns = vectorizer.get_feature_names_out())
    
    # 2. FINDING THE TOP WORDS FOR EACH TOPIC
    ## Number of topics
    n_components = topic_mixture.shape[0]
    ## Top words for each topic
    for topic in range(n_components):
        print("-"*10)
        print(f"For topic {topic}, here are the the top {top_words} words with weights:")
        topic_df = topic_mixture.iloc[topic]\
                             .sort_values(ascending = True).head(top_words)
        
        print(round(topic_df,3))

In [66]:
print_topics(lda_model, vectorizer, 5)

----------
For topic 0, here are the the top 5 words with weights:
frog      0.523
live      0.523
ponds     0.523
turtle    0.523
fluffy    0.524
Name: 0, dtype: float64
----------
For topic 1, here are the the top 5 words with weights:
kiwi        0.508
smoothie    0.508
spinach     0.508
frog        0.977
live        0.977
Name: 1, dtype: float64