In [1]:
import pandas as pd
from IPython.display import Image
from IPython.core.display import HTML

In [2]:
texts = ['   Bonjour, comment ca va ?     ',
         '    Heyyyyy, how are you doing ?   ',
         '        Hallo, wie gehts ?     ']
texts

['   Bonjour, comment ca va ?     ',
 '    Heyyyyy, how are you doing ?   ',
 '        Hallo, wie gehts ?     ']

In [8]:
text = "I love koalas, koalas are the cutest animals on Earth."
text

'I love koalas, koalas are the cutest animals on Earth.'

In [10]:
text = "linkin park / metallica /red hot chili peppers"
text.split("/")

['linkin park ', ' metallica ', 'red hot chili peppers']

In [11]:
text = "i LOVE football sO mUch. FOOTBALL is my passion. Who else loves fOOtBaLL ?"
text
text.lower()

'i love football so much. football is my passion. who else loves football ?'

In [12]:
text = "i do not recommend this restaurant, we waited for so long, like 30 minutes, this is ridiculous"
text

'i do not recommend this restaurant, we waited for so long, like 30 minutes, this is ridiculous'

In [15]:
import string # "string" module is already installed with Python
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [16]:
for punctuation in string.punctuation:
    text = text.replace(punctuation, '') 
    
text

'I love bubble tea OMG so tasty channel XOXO   '

In [14]:
text = "I love bubble tea! OMG so #tasty @channel XOXO @$ ^_^ "
text

'I love bubble tea! OMG so #tasty @channel XOXO @$ ^_^ '

In [13]:
cleaned_text = ''.join(char for char in text if not char.isdigit())
cleaned_text

'i do not recommend this restaurant, we waited for so long, like  minutes, this is ridiculous'

In [3]:
[text.strip() for text in texts]

['Bonjour, comment ca va ?',
 'Heyyyyy, how are you doing ?',
 'Hallo, wie gehts ?']

In [2]:
text = "abcd Who is abcd ? That's not a real name!!! abcd"
text

"abcd Who is abcd ? That's not a real name!!! abcd"

In [15]:
text.strip('bdac')

" Who is abcd ? That's not a real name!!! "

In [9]:
text = "I love koalas, koalas are the cuttest animals on Earth."
text

'I love koalas, koalas are the cuttest animals on Earth.'

In [10]:
text.replace("koala","panda")

'I love pandas, pandas are the cuttest animals on Earth.'

In [11]:
text = "alicia keys / bts /justin bieber"

In [12]:
text.split("/")

['alicia keys ', ' bts ', 'justin bieber']

In [13]:
text = "i LOVE football sO mUch. FOOTBALL is my passion. Who else loves fOOtBaLL ?"
text

'i LOVE football sO mUch. FOOTBALL is my passion. Who else loves fOOtBaLL ?'

In [14]:
text.lower()

'i love football so much. football is my passion. who else loves football ?'

In [15]:
text = "i do not recommend this restaurant, we waited for so long, like 30 minutes, this is ridiculous"
text

'i do not recommend this restaurant, we waited for so long, like 30 minutes, this is ridiculous'

In [16]:
cleaned_text = ''.join(char for char in text if not char.isdigit())
cleaned_text

'i do not recommend this restaurant, we waited for so long, like  minutes, this is ridiculous'

In [17]:
text = "I love bubble tea! OMG so #tasty @channel XOXO @$ ^_^ "
text

'I love bubble tea! OMG so #tasty @channel XOXO @$ ^_^ '

In [46]:
import string # "string" module is already installed with Python
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [19]:
for punctuation in string.punctuation:
    text = text.replace(punctuation, '') 
    
text

'I love bubble tea OMG so tasty channel XOXO   '

In [17]:
sentences = ["It isn't during our darkest moments that we must focus to see the light", 
             "  Le Wagon is amazing, take care - 666"]

In [18]:
def basic_cleaning(sentence):
    sentence = sentence.lower()
    sentence = ''.join(char for char in sentence if not char.isdigit())
    
    for punctuation in string.punctuation:
        sentence = sentence.replace(punctuation, '') 
    
    sentence = sentence.strip()
    
    return sentence

In [19]:
cleaned_sentences = [basic_cleaning(sentence) for sentence in sentences]
cleaned_sentences

['it isnt during our darkest moments that we must focus to see the light',
 'le wagon is amazing take care']

In [20]:
import re

text = """<head><body>Hello Le Wagon!</body></head>"""
cleaned_text = re.sub('<[^<]+?>','', text)

print (cleaned_text)

Hello Le Wagon!

In [21]:
import re

txt = 'This is a random text, authored by darkvador@gmail.com and batman@outlook.com, WOW!'

re.findall('[\w.+-]+@[\w-]+\.[\w.-]+', txt)

['darkvador@gmail.com', 'batman@outlook.com']

In [24]:
text = "It isn't during our darkest moments that we must focus to see the light"
text

"It isn't during our darkest moments that we must focus to see the light"

In [22]:
text = 'It is during our darkest moments that we must focus to see the light'

text

'It is during our darkest moments that we must focus to see the light'

In [25]:
from nltk.tokenize import word_tokenize

cleaned_sentence = basic_cleaning(text)
word_tokens = word_tokenize(cleaned_sentence)
word_tokens

['it',
 'isnt',
 'during',
 'our',
 'darkest',
 'moments',
 'that',
 'we',
 'must',
 'focus',
 'to',
 'see',
 'the',
 'light']

In [29]:
stop_words = set(stopwords.words('english')) # you can also choose other languages

In [31]:
tokens = ["i", "am", "not", "going", "to", "go", "to", "the", 
        "club", "and", "party", "all", "night", "long"]

In [32]:
stopwords_removed = [w for w in tokens if w in stop_words] 
stopwords_removed

['i', 'am', 'not', 'to', 'to', 'the', 'and', 'all']

In [87]:
tokens_cleaned = [w for w in word_tokens if not w in stop_words] 
tokens_cleaned

['isnt', 'darkest', 'moments', 'must', 'focus', 'see', 'light']

In [11]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /Users/jinru/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [12]:
from nltk.corpus import stopwords 

stop_words = set(stopwords.words('english')) # you can also choose other languages
len(stop_words)

179

In [39]:
stop_words = set(stopwords.words('chinese')) # you can also choose other languages
len(stop_words)

841

In [13]:
tokens = ["i", "am", "not", "going", "to", "go", "to", "the", "club", 
          "and","party", "all", "night", "long"]

In [80]:
word_tokens

['It',
 'is',
 "n't",
 'during',
 'our',
 'darkest',
 'moments',
 'that',
 'we',
 'must',
 'focus',
 'to',
 'see',
 'the',
 'light']

In [77]:
stopwords_removed = [w for w in word_tokens if w in stop_words] 
stopwords_removed

['is', 'during', 'our', 'that', 'we', 'to', 'the']

In [51]:
tokens_cleaned = [w for w in tokens if not w in stop_words] 
tokens_cleaned

['going', 'go', 'club', 'party', 'night', 'long']

In [33]:
sentence = 'He was RUNNING and EATING at the same time =[. He has a bad habit of swimming after playing 3 hours in the Sun =/'

In [34]:
cleaned_sentence = basic_cleaning(sentence)
cleaned_sentence

'he was running and eating at the same time  he has a bad habit of swimming after playing  hours in the sun'

In [35]:
tokenized_sentence = word_tokenize(cleaned_sentence)
print(tokenized_sentence)

['he', 'was', 'running', 'and', 'eating', 'at', 'the', 'same', 'time', 'he', 'has', 'a', 'bad', 'habit', 'of', 'swimming', 'after', 'playing', 'hours', 'in', 'the', 'sun']

In [36]:
tokenized_sentence_no_stopword = [w for w in tokenized_sentence if not w in stop_words] 
tokenized_sentence_no_stopword

['running',
 'eating',
 'time',
 'bad',
 'habit',
 'swimming',
 'playing',
 'hours',
 'sun']

In [41]:
from nltk.stem import WordNetLemmatizer
# Lemmatizing the verbs
verb_lemmatized = [WordNetLemmatizer().lemmatize(word, pos = "v")  # v --> verbs
              for word in tokenized_sentence_no_stopword]

# 2 - Lemmatizing the nouns
noun_lemmatized = [WordNetLemmatizer().lemmatize(word, pos = "n")  # n --> nouns
              for word in verb_lemmatized]

In [42]:
tokenized_sentence_no_stopword

['running',
 'eating',
 'time',
 'bad',
 'habit',
 'swimming',
 'playing',
 'hours',
 'sun']

In [40]:
verb_lemmatized

['run', 'eat', 'time', 'bad', 'habit', 'swim', 'play', 'hours', 'sun']

In [43]:
noun_lemmatized = [                 
    WordNetLemmatizer().lemmatize(word, pos = "n") # n --> nouns
    for word in verb_lemmatized
]

In [44]:
noun_lemmatized

['run', 'eat', 'time', 'bad', 'habit', 'swim', 'play', 'hour', 'sun']

In [45]:
original_vs_lemmatized.style.hide(axis='index')

NameError: name 'original_vs_lemmatized' is not defined

In [58]:
from nltk.stem import WordNetLemmatizer
# Lemmatizing the verbs
verb_lemmatized = [WordNetLemmatizer().lemmatize(word, pos = "v")  # v --> verbs
              for word in tokenized_sentence_no_stopword]

# 2 - Lemmatizing the nouns
noun_lemmatized = [WordNetLemmatizer().lemmatize(word, pos = "n")  # n --> nouns
              for word in verb_lemmatized]

NameError: name 'tokenized_sentence_no_stopword' is not defined

In [64]:
verb_lemmatized

['run', 'eat', 'time', 'bad', 'habit', 'swim', 'play', 'hours', 'sun']

In [65]:
noun_lemmatized

['run', 'eat', 'time', 'bad', 'habit', 'swim', 'play', 'hour', 'sun']

In [66]:
tokenized_sentence_no_stopword

['running',
 'eating',
 'time',
 'bad',
 'habit',
 'swimming',
 'playing',
 'hours',
 'sun']

In [82]:
df = pd.DataFrame([tokenized_sentence_no_stopword, verb_lemmatized, noun_lemmatized]).T
df = df.rename(columns = {0:'original', 1:'verb_lemmatized', 2: 'noun_lemmatized'})
df

   original verb_lemmatized noun_lemmatized
0   running             run             run
1    eating             eat             eat
2      time            time            time
3       bad             bad             bad
4     habit           habit           habit
5  swimming            swim            swim
6   playing            play            play
7     hours           hours            hour
8       sun             sun             sun

In [47]:
from sklearn.feature_extraction.text import CountVectorizer

In [46]:
texts = ['the young dog is running with the cat',
         'running is good for your health',
         'your cat is young',
         'young young young young young cat cat cat']

In [49]:
count_vectorizer = CountVectorizer()
X = count_vectorizer.fit_transform(texts)
X.toarray()

array([[1, 1, 0, 0, 0, 1, 1, 2, 1, 1, 0],
       [0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1],
       [1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1],
       [3, 0, 0, 0, 0, 0, 0, 0, 0, 5, 0]])

In [50]:
count_vectorizer.get_feature_names_out()

array(['cat', 'dog', 'for', 'good', 'health', 'is', 'running', 'the',
       'with', 'young', 'your'], dtype=object)

In [51]:
import pandas as pd

vectorized_texts = pd.DataFrame(
    X.toarray(), 
    columns = count_vectorizer.get_feature_names_out(),
    index = texts
)

vectorized_texts

,cat,dog,for,good,health,is,running,the,with,young,your
the young dog is running with the cat,1,1,0,0,0,1,1,2,1,1,0
running is good for your health,0,0,1,1,1,1,1,0,0,0,1
your cat is young,1,0,0,0,0,1,0,0,0,1,1
young young young young young cat cat cat,3,0,0,0,0,0,0,0,0,5,0

In [60]:
vectorized_texts.sum(axis=0).sort_values()

dog        1
for        1
good       1
health     1
with       1
running    2
the        2
your       2
is         3
cat        5
young      7
dtype: int64

In [52]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [53]:
# Instantiating the TfidfVectorizer
tf_idf_vectorizer = TfidfVectorizer()

# Training it on the texts
weighted_words = pd.DataFrame(tf_idf_vectorizer.fit_transform(texts).toarray(),
                 columns = tf_idf_vectorizer.get_feature_names_out())

weighted_words

,cat,dog,for,good,health,is,running,the,with,young,your
0,0.227904,0.357056,0.000000,0.000000,0.000000,0.227904,0.281507,0.714112,0.357056,0.227904,0.000000
1,0.000000,0.000000,0.463709,0.463709,0.463709,0.295980,0.365594,0.000000,0.000000,0.000000,0.365594
2,0.470063,0.000000,0.000000,0.000000,0.000000,0.470063,0.000000,0.000000,0.000000,0.470063,0.580622
3,0.514496,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.857493,0.000000

In [56]:
# Instantiate the CountVectorizer with max_df = 2
count_vectorizer = CountVectorizer(max_df = 2) # removing "cat", "is", "young"

# Train it
X = count_vectorizer.fit_transform(texts)
X = pd.DataFrame(
    X.toarray(),
    columns = count_vectorizer.get_feature_names_out(),
    index = texts
)

X

,dog,for,good,health,running,the,with,your
the young dog is running with the cat,1,0,0,0,1,2,1,0
running is good for your health,0,1,1,1,1,0,0,1
your cat is young,0,0,0,0,0,0,0,1
young young young young young cat cat cat,0,0,0,0,0,0,0,0

In [57]:
# CountVectorizer with the 3 most frequent words
count_vectorizer = CountVectorizer(max_features = 3)

X = count_vectorizer.fit_transform(texts)
X = pd.DataFrame(
    X.toarray(),
     columns = count_vectorizer.get_feature_names_out(),
     index = texts
)

X

                                           cat  is  young
the young dog is running with the cat        1   1      1
running is good for your health              0   1      0
your cat is young                            1   1      1
young young young young young cat cat cat    3   0      5

In [119]:
# Instantiate the CountVectorizer with max_df = 2
count_vectorizer = CountVectorizer(max_df = 2) # removing "cat", "is", "young"

# Train it
X = count_vectorizer.fit_transform(texts)
X = pd.DataFrame(
    X.toarray(),
    columns = count_vectorizer.get_feature_names_out(),
    index = texts
)

X

,dog,for,good,health,running,the,with,your
the young dog is running with the cat,1,0,0,0,1,2,1,0
running is good for your health,0,1,1,1,1,0,0,1
your cat is young,0,0,0,0,0,0,0,1
young young young young young cat cat cat,0,0,0,0,0,0,0,0

In [120]:
# CountVectorizer with the 3 most frequent words
count_vectorizer = CountVectorizer(max_features = 3)

X = count_vectorizer.fit_transform(texts)
X = pd.DataFrame(
    X.toarray(),
     columns = count_vectorizer.get_feature_names_out(),
     index = texts
)

X

                                           cat  is  young
the young dog is running with the cat        1   1      1
running is good for your health              0   1      0
your cat is young                            1   1      1
young young young young young cat cat cat    3   0      5

In [61]:
actors_movie = ["I like the movie but NOT the actors",
                "I like the actors but NOT the movie"]

In [64]:
# Vectorize the sentences
count_vectorizer = CountVectorizer(stop_words=None)
actors_movie_vectorized = count_vectorizer.fit_transform(actors_movie)

# Show the representations in a nice DataFrame
actors_movie_vectorized = pd.DataFrame(actors_movie_vectorized.toarray(),
                                       columns = count_vectorizer.get_feature_names_out(),
                                       index = actors_movie)

# Show the vectorized movies
actors_movie_vectorized

                                     actors  but  like  movie  not  the
I like the movie but NOT the actors       1    1     1      1    1    2
I like the actors but NOT the movie       1    1     1      1    1    2

In [65]:
# Vectorize the sentences
count_vectorizer_n_gram = CountVectorizer(stop_words=None, ngram_range = (2,2))
# count_vectorizer_n_gram = CountVectorizer(ngram_range = (2,2), token_pattern=u"(?u)\\b\\w+\\b") # BI-GRAMS
actors_movie_vectorized_n_gram = count_vectorizer_n_gram.fit_transform(actors_movie)

# Show the representations in a nice DataFrame
actors_movie_vectorized_n_gram = pd.DataFrame(actors_movie_vectorized_n_gram.toarray(),
                                              columns = count_vectorizer_n_gram.get_feature_names_out(),
                                              index = actors_movie)

# Show the vectorized movies with bigrams
actors_movie_vectorized_n_gram

,actors but,but not,like the,movie but,not the,the actors,the movie
I like the movie but NOT the actors,0,1,1,1,1,1,1
I like the actors but NOT the movie,1,1,1,0,1,1,1

In [67]:
actors_movie

['I like the movie but NOT the actors', 'I like the actors but NOT the movie']

In [134]:
Image(url= "images/bayes.png")

In [135]:
Image(url= "images/bayes2.png")

In [68]:
data = pd.read_csv("emails.csv")
data.head()

                                                text  spam
0  Subject: naturally irresistible your corporate...     1
1  Subject: the stock trading gunslinger  fanny i...     1
2  Subject: unbelievable new homes made easy  im ...     1
3  Subject: 4 color printing special  request add...     1
4  Subject: do not have money , get software cds ...     1

In [19]:
df.shape

(5728, 2)

In [149]:
df=df.iloc[:,0:2]

In [69]:
round(data["spam"].value_counts(normalize = True),2)

0    0.76
1    0.24
Name: spam, dtype: float64

In [23]:
data["spam"]

0       1
1       1
2       1
3       1
4       1
       ..
5723    0
5724    0
5725    0
5726    0
5727    0
Name: spam, Length: 5728, dtype: int64

In [70]:
import numpy as np

from sklearn.model_selection import cross_validate
from sklearn.pipeline import make_pipeline
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import recall_score

# Feature/Target
X = data["text"]
y = data["spam"]

# Pipeline vectorizer + Naive Bayes
pipeline_naive_bayes = make_pipeline(TfidfVectorizer(), 
                                     MultinomialNB())

# Cross-validation
cv_results = cross_validate(pipeline_naive_bayes, X, y, cv = 5, scoring = ["recall"])
average_recall = cv_results["test_recall"].mean()
np.round(average_recall,2)

0.45

In [71]:
from sklearn.model_selection import GridSearchCV

# Define the grid of parameters
parameters = {
    'tfidfvectorizer__ngram_range': ((1,1), (2,2)),
    'multinomialnb__alpha': (0.1,1)
}

# Perform Grid Search
grid_search = GridSearchCV(
    pipeline_naive_bayes,
    parameters,
    scoring = "recall",
    cv = 5,
    n_jobs=-1,
    verbose=1
)

grid_search.fit(data.text,data.spam)

# Best score
print(f"Best Score = {grid_search.best_score_}")

# Best params
print(f"Best params = {grid_search.best_params_}")

Fitting 5 folds for each of 4 candidates, totalling 20 fits
Best Score = 0.9524932488436137
Best params = {'multinomialnb__alpha': 0.1, 'tfidfvectorizer__ngram_range': (1, 1)}

In [28]:
pipeline_naive_bayes.predict(X[:5])

array([1, 1, 0, 0, 0])

In [29]:
from sklearn.model_selection import GridSearchCV

# Define the grid of parameters
parameters = {
    'tfidfvectorizer__ngram_range': ((1,1), (2,2)),
    'multinomialnb__alpha': (0.1,1),}

# Perform Grid Search
grid_search = GridSearchCV(pipeline_naive_bayes, parameters, scoring = "recall",
                           cv = 5, n_jobs=-1, verbose=1)

grid_search.fit(data.text,data.spam)

# Best score
print(f"Best Score = {grid_search.best_score_}")

# Best params
print(f"Best params = {grid_search.best_params_}")

Fitting 5 folds for each of 4 candidates, totalling 20 fits
Best Score = 0.9524932488436137
Best params = {'multinomialnb__alpha': 0.1, 'tfidfvectorizer__ngram_range': (1, 1)}

In [34]:
tuned = grid_search.best_estimator_

In [48]:
def cleaning(sentence):
    
    # Basic cleaning
    sentence = sentence.strip() ## remove whitespaces
    sentence = sentence.lower() ## lowercase 
    sentence = ''.join(char for char in sentence if not char.isdigit()) ## remove numbers
    
    # Advanced cleaning
    for punctuation in string.punctuation:
        sentence = sentence.replace(punctuation, '') ## remove punctuation
    
    tokenized_sentence = word_tokenize(sentence) ## tokenize 
    stop_words = set(stopwords.words('english')) ## define stopwords
    
    tokenized_sentence_cleaned = [ ## remove stopwords
        w for w in tokenized_sentence if not w in stop_words
    ]

    lemmatized = [
        WordNetLemmatizer().lemmatize(word, pos = "v") 
        for word in tokenized_sentence_cleaned
    ]
    
    cleaned_sentence = ' '.join(word for word in lemmatized)
    
    return cleaned_sentence

In [74]:
documents = pd.DataFrame(['like mangos oranges', 'frog turtle live ponds', 'kitten puppies fluffy', 'spinach kiwi smoothie', 'kitten love strawberries'], columns = ['documents'])

In [75]:
documents

                  documents
0       like mangos oranges
1    frog turtle live ponds
2     kitten puppies fluffy
3     spinach kiwi smoothie
4  kitten love strawberries

In [78]:
cleaned_documents = documents["documents"].apply(basic_cleaning)
cleaned_documents.head()

0         like mangos oranges
1      frog turtle live ponds
2       kitten puppies fluffy
3       spinach kiwi smoothie
4    kitten love strawberries
Name: documents, dtype: object

In [79]:
vectorizer = TfidfVectorizer()
vectorized_documents = vectorizer.fit_transform(cleaned_documents)
vectorized_documents = pd.DataFrame(vectorized_documents.toarray(), 
                                    columns = vectorizer.get_feature_names_out())

vectorized_documents

,fluffy,frog,kitten,kiwi,like,live,love,mangos,oranges,ponds,puppies,smoothie,spinach,strawberries,turtle
0,0.000000,0.0,0.000000,0.00000,0.57735,0.0,0.000000,0.57735,0.57735,0.0,0.000000,0.00000,0.00000,0.000000,0.0
1,0.000000,0.5,0.000000,0.00000,0.00000,0.5,0.000000,0.00000,0.00000,0.5,0.000000,0.00000,0.00000,0.000000,0.5
2,0.614189,0.0,0.495524,0.00000,0.00000,0.0,0.000000,0.00000,0.00000,0.0,0.614189,0.00000,0.00000,0.000000,0.0
3,0.000000,0.0,0.000000,0.57735,0.00000,0.0,0.000000,0.00000,0.00000,0.0,0.000000,0.57735,0.57735,0.000000,0.0
4,0.000000,0.0,0.495524,0.00000,0.00000,0.0,0.614189,0.00000,0.00000,0.0,0.000000,0.00000,0.00000,0.614189,0.0

In [80]:
from sklearn.decomposition import LatentDirichletAllocation

# Instantiate the LDA 
n_components = 2
lda_model = LatentDirichletAllocation(n_components=n_components, max_iter = 100)

# Fit the LDA on the vectorized documents
lda_model.fit(vectorized_documents)

LatentDirichletAllocation(max_iter=100, n_components=2)

In [68]:
document_topic_mixture = lda_model.transform(vectorized_documents)
pd.DataFrame(document_topic_mixture)

          0         1
0  0.211863  0.788137
1  0.197517  0.802483
2  0.206331  0.793669
3  0.808432  0.191568
4  0.206333  0.793667

In [81]:
document_topic_mixture = lda_model.transform(vectorized_documents)

In [84]:
document_topic_mixture

array([[0.19512686, 0.80487314],
       [0.81417876, 0.18582124],
       [0.20702716, 0.79297284],
       [0.79882426, 0.20117574],
       [0.76757279, 0.23242721]])

In [83]:
def print_topics(lda_model, vectorizer, top_words):
    # 1. TOPIC MIXTURE OF WORDS FOR EACH TOPIC
    topic_mixture = pd.DataFrame(
        lda_model.components_,
        columns = vectorizer.get_feature_names_out()
    )
    
    # 2. FINDING THE TOP WORDS FOR EACH TOPIC
    ## Number of topics
    n_components = topic_mixture.shape[0]

    ## Top words for each topic
    for topic in range(n_components):
        print("-"*10)
        print(f"For topic {topic}, here are the the top {top_words} words with weights:")

        topic_df = topic_mixture.iloc[topic]\
            .sort_values(ascending = False).head(top_words)
        
        print(round(topic_df,3))

In [65]:
def print_topics(lda_model, vectorizer, top_words):
    # 1. TOPIC MIXTURE OF WORDS FOR EACH TOPIC
    topic_mixture = pd.DataFrame(lda_model.components_,
                                 columns = vectorizer.get_feature_names_out())
    
    # 2. FINDING THE TOP WORDS FOR EACH TOPIC
    ## Number of topics
    n_components = topic_mixture.shape[0]
    ## Top words for each topic
    for topic in range(n_components):
        print("-"*10)
        print(f"For topic {topic}, here are the the top {top_words} words with weights:")
        topic_df = topic_mixture.iloc[topic]\
                             .sort_values(ascending = True).head(top_words)
        
        print(round(topic_df,3))

In [66]:
print_topics(lda_model, vectorizer, 5)

----------
For topic 0, here are the the top 5 words with weights:
frog      0.523
live      0.523
ponds     0.523
turtle    0.523
fluffy    0.524
Name: 0, dtype: float64
----------
For topic 1, here are the the top 5 words with weights:
kiwi        0.508
smoothie    0.508
spinach     0.508
frog        0.977
live        0.977
Name: 1, dtype: float64